<!-- <jqxGrid #myGrid
    [source]="gridDataSource" [columns]="gridColumns" [autoheight]="true" style="margin-top:10px"
    [autoheight]="true" [sortable]="true" [width]="gridWidth" [filterable]="true" [showaggregates]="true"
    [showstatusbar]="true"
     >
</jqxGrid>
 -->
<jqxGrid #myGrid [width]="gridWidth" [autoheight]="true" style="margin-top:10px" [source]="gridDataSource"
 [columns]="gridColumns" [showaggregates]="true" [sortable]="true" [filterable]="true"
[showstatusbar]="true" [autoshowfiltericon]="true">
</jqxGrid>


